<aside id="right-sidebar-nav">
            <ul id="chat-out" class="side-nav rightside-navigation">
                <li class="li-hover">
                    <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i
                            class="mdi-navigation-close"></i></a>

                </li>
                <li class="li-hover">
                    <ul class="chat-collapsible" data-collapsible="expandable">

                        <li>
                            <div class="collapsible-header cyan white-text"><i class="mdi-action-cart"></i>Cart</div>
                            <div class="collapsible-body favorite-associates">
                                <div class="favorite-associate-list chat-out-list row">
                                    <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i
                                            class="mdi-navigation-close"></i></a>

                                    <div class="col s4"><img src="/static/ecommerce/images/python.jpg" alt=""
                                                             class="circle responsive-img online-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Python</p>

                                        <p class="place">500</p>
                                    </div>
                                </div>

                            </div>
                        </li>

                    </ul>
                </li>
            </ul>
        </aside>