{% extends 'ecommerce/base/base.html' %}
{% block main_content %}
    <div class="container">
        <div class="section">

            <h4>Password Reset</h4>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>

        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
{% endblock %}