{% extends 'ecommerce/base/base.html' %}
{% block main_content %}
    <div class="container">
        <div class="section">

             <h4>Change Password</h4>
    <p>Your password is now changed. Please <a href="{% url 'account_login' %}">login</a> to continue</p>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
{% endblock %}