{% extends 'ecommerce/base/base.html' %}
{% block main_content %}
    <div class="container">
        <div class="section">

            <h4>Password Reset</h4>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to
                reset it.</p>

            <p>{{ form.email.errors.as_text }}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                <div class="row">
                    <div class="input-field col s6 l6 m4">
                        <input id="email" type="email" name="email">
                        <label for="email" data-error="wrong" data-success="right">Email</label>
                    </div>
                </div>
                {% csrf_token %}
                <input class="waves-effect waves-light btn" type="submit" value='Reset My Password'/>
            </form>

            <p>Please contact us if you have any trouble resetting your password.</p>


        </div>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
{% endblock %}